.add-property-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.add-property-container h2 {
  text-align: center;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select,
textarea,
button {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 5px;
}

button {
  background: #0a2b63;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 0.9;
}

@media(max-width: 600px) {
  .form {
    width: 100%;
  }
}
