/* ===== Header ===== */
/* Header Base */
.header {
  width: 100%;
  /* background: #974f4f; */
  color: white;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgb(6 22 112) !important;
}

.container-h {
  width: 100%;
  max-width: 1298px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

.logo .tagline {
  display: block;
  font-size: 11px;
  opacity: 0.85;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
}

.site-logo {
  width: 100%;
  height: 96px;
  object-fit: contain;
}

/* .logo-text strong{
  font-size:18px;
} */

.tagline {
  display: block;
  font-size: 11px;
  color: #777;
}

/* Desktop Navigation */
.navba {
  display: flex;
  gap: 28px;
  list-style: none;
  margin-top: 53px;
}

.navba li a,
.navba li span {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}

.navba li:hover a,
.navba li:hover span {
  opacity: 0.85;
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background: white;
  color: black;
  min-width: 190px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 6px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 14px;
  color: black;
  font-size: 14px;
}

.dropdown-menu li:hover {
  background: #ececec;
}

.auth a,
.auth button {
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  background: #1388b5;
}

.auth {
  margin-top: 27px;
}

.log-btss {
  text-decoration: none;
  color: #0ca9a9;
  font-weight: bold;
  font-size: 17px;
  margin-left: 10px;
}

.switchup {
  color: #a9a8a6;
}

/* .btn-primary {
  background: white;
  color: #001b47 !important;
  font-weight: 600;
} */

/* Hamburger (Mobile) */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Responsive Mobile */
@media(max-width: 767px) {
  .nav.open {
    display: flex;
    position: absolute;
    top: 0px;
    left: 46%;
    width: 50%;
    background: #1f1f3c;
    padding: 6px;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    height: 535px;
  }
}

@media(max-width: 900px) {

  .nav {
    display: none;
  }

  .auth {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav.open {
    display: flex;
    position: absolute;
    top: 0px;
    left: 49%;
    width: 50%;
    background: #1f1f3c;
    padding: 6px;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    height: 535px;
  }

  .navba {
    display: grid !important;
    gap: 25px;
    list-style: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0% !important;
    /* left: 0; */
    background: white;
    min-width: 220px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 999;
  }

  /* .close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
  } */

  /* .navba {
        flex-direction: column;
        gap: 18px;
        padding: 10px;
    }

  .navba li a,
  .navba li span {
    font-size: 16px;
  }
  .dropdown-menu {
    position: static;
    margin-top: 5px;
    background: white;
    box-shadow: none;
    border-radius: 4px;
  }
  .dropdown-menu li {
    border-bottom: 1px solid #e6e6e6;
  }
  .dropdown-menu li:last-child {
    border-bottom: none;
  } */

  .auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 18px;
  }

  .auth a,
  .auth button {
    width: 53%;
    text-align: center;
    border-radius: 29px;
    margin-left: 10px;
    font-size: 9px;
    color: white;
    border: 1px solid white;
    padding: 5px 13px;
    border-radius: 4px;
  }

  /* .navba li a, .navba li span {
        color: #fffcfc;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
        font-weight: 500;
    } */
}

@media(max-width: 1100px) {

  .auth a,
  .auth button {
    width: 53%;
    text-align: center;
    border-radius: 29px;
    margin-left: 0px;
    font-size: 10px;
    color: white;
    border: 1px solid white;
    padding: 5px 13px;
    border-radius: 4px;
    margin-bottom: 3px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 14px;
    font-size: 19px !important;
    border: none;
    background: none;
    cursor: pointer;
    display: block !important;
  }
}

/* loging and signup */
.auth-container {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #0f172a, #1e293b); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

.auth-card {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  width: 100%;
  max-width: 420px;
  padding: 28px 26px;
  border-radius: 16px;
  box-shadow: 0 25px 60px rgba(15, 23, 42, 0.35);
  animation: fadeUp 0.5s ease;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 700;
  color: #16adae;
  font-size: 30px;
}

.form-groups {
  margin-bottom: 14px;
  display: grid !important;
}

.form-groups label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #c8cacc;

  margin-bottom: 6px;
}

.form-options label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #c8cacc;

  margin-bottom: 6px;
}

.form-group input {
  width: 93%;
  padding: 11px;
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  background: #f8fafc;
  transition: border 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
  background: #ffffff;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 16px;
}

.form-options a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.form-options a:hover {
  text-decoration: underline;
}

.terms {
  font-size: 13px;
  color: #e5e7e9;
  margin-bottom: 18px;
}

.logi {
  background: #16adae;
  width: 75px;
  padding: 9px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: #e8e7e6;
}

.sing {
  background: #16adae;
  width: 75px;
  padding: 9px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  color: #e8e7e6;
}

.btn:hover {
  transform: translateY(-2px);
}

.switchs {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #8b8d90;
}

.switchs a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

.switchs a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .auth-card {
    padding: 26px 20px;
  }

  .auth-card h2 {
    font-size: 20px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Contact *******************/
.contact-container {
  padding: 150px 20px;
  text-align: center;
  animation: fadeIn 0.6s ease forwards;
}

.contact-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #111;
}

.contact-sub {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.contact-btn {
  padding: 12px 28px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(135deg, #36d1dc, #5b86e5);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-btn:hover {
  transform: scale(1.08);
}

/* Popup Overlay */
.contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: popupFade 0.3s ease;
}

/* Modal */
.contact-modal {
  background: #fff;
  width: 450px;
  padding: 21px;
  border-radius: 20px;
  position: relative;
  animation: slideUp 0.4s ease;
}

.contact-modal input,
.contact-modal textarea {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.send-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #ee0979, #ff6a00);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.send-btn:hover {
  transform: scale(1.03);
}

/* Close Button */
.close-btn {
  position: absolute;
  font-size: 28px;
  top: 10px;
  right: 18px;
  cursor: pointer;
  color: #ffffff;
  display: none;

}

@keyframes popupFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .contact-modal {
    width: 90%;
  }
}

/*********** Tips for Buying a Plot in India */
.plot-container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  animation: fadeIn 0.8s ease-in-out;
}

.plot-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.plot-desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 12px;
  text-align: justify;
}

.plot-subtitle {
  font-size: 20px;
  margin: 20px 0 10px;
  font-weight: 600;
  color: #1e7d32;
}

.plot-list li {
  margin-bottom: 8px;
  list-style: none;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.plot-list li::before {
  content: "✔";
  color: #009432;
}

.plot-img-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.plot-img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  animation: zoomIn 0.6s ease;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 600px) {
  .plot-title {
    font-size: 22px;
  }

  .plot-desc {
    font-size: 14px;
  }

  .plot-subtitle {
    font-size: 18px;
  }

}

.navba {
  display: flex;
  gap: 25px;
  list-style: none;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 120%;
 
  background: white;
  min-width: 220px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px 0;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 999;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu li:hover {
  background: #f5f5f5;
  color: #007bff;
}

.big-menu {
  width: 300px;
}
.dropdown-toggle {
  cursor: pointer;
  font-weight: 500;
}

/* servicepage */
.service-container {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.service-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

/* CARD */
.service-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  align-items: center;
  transition: 0.3s;
}

.service-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* LEFT TEXT */
.service-left {
  flex: 1;
}

.service-left h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.service-left p {
    color: #1c1c1c !important;
    line-height: 1.6 !important;
    font-size: 16px !important;
    text-align: justify;
}
/* RIGHT VIDEO */
.service-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.service-right video {
    width: 100%;
    max-width: 572px;
    border-radius: 10px;
    height: 320px;
}

/* 🔥 FULL WIDTH (TEXT ONLY CASE) */
.service-card.full-width {
  flex-direction: column;
}

.service-card.full-width .service-left {
  width: 100%;
}

.service-card.full-width .service-right {
  display: none;
}

/*  RESPONSIVE */
@media (max-width: 768px) {
  .service-card {
    flex-direction: column;
  }

  .service-right video {
    max-width: 100%;
  }
}