.footer {
 background: #0f1e2e;
  color: #fff;
  padding: 50px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  color: #ddd;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #ddd;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #f4c430;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  color: #ccc;
}
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
